{% extends "myapp/layout.html" %}
{% load static %}


{% block body %}
<span class="log-in">SIGN UP</span>
<div class="login-wrapper">
   <form action="{% url 'myapp:register' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
         <label class="login-label">Email Address</label>
         <input  class="form-control" type="text" name="email" id="register_email" required>
     </div>
     <div class="form-group">
        <label class="login-label">Username</label>
        <input  class="form-control" type="text" name="username" id="register_username" required>
    </div>
     <div class="form-group">
        <label class="login-label">Password</label>
         <input class="form-control" type="password" name="password" id="register_password" required>
     </div>
     <div class="form-group">
        <label class="login-label">Confirm Password</label>
         <input class="form-control" type="password" name="confirm-password" id="confirm-password" required>
     </div>
     <input id="register-btn" class="btn-top" type="submit" value="Sign Up">
   </form>
<span class="register-link">Already have an account? <a href="{% url 'myapp:login' %}">Log in here.</a></span>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'myapp/register.js' %}"></script>
{% endblock %}
